%h3 Add evidence

%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#tab1"} from existing contractor
  %li
    %a{"data-toggle" => "tab", href: "#tab2"} from new contractor

.tab-content
  #tab1.tab-pane.active
    =render "form"
  #tab2.tab-pane
    =render "contractors/form_with_evidence"


%h3 Evidences:
%table.table
  %tr
    %th #
    %th Number
    %th Date
    %th Amount
    %th Contractor
    %th Description
  -evidences.each do |evidence|
    %tr
      %td
      %td= evidence.number
      %td= evidence.madedate
      %td= evidence.amount
      %td= evidence.contractor.name
      %td= evidence.description
