.row
  .col-md-3
    %h3 Evidence details:
    %p Number: #{evidence.number}
    %p Address: #{evidence.madedate}
    %p Amount: #{evidence.amount}
    %p Description: #{evidence.description}
    %p Contractor: #{evidence.contractor.name}
    %p Added: #{evidence.created_at.strftime("%F")}
  .col-md-5.col-md-offset-2
    .decree-table
      =render 'decrees/decrees'
    .decree-from
      =render 'decrees/form'
    .accept.text-center
      =render 'accept'
