.row
  .col-md-5
    .panel.panel-default
      .panel-heading
        %h3 Evidence details:
      .panel-body
        %p Number: #{evidence.number}
        %p Date: #{evidence.madedate}
        %p Amount: #{evidence.amount}
        %p Description: #{evidence.description}
        %p Contractor: #{evidence.contractor.name}
        %p Added: #{evidence.created_at.strftime("%F")}
      .panel-footer
        =link_to "Edit", edit_evidence_path(evidence, contractor_id: evidence.contractor_id), class: 'btn btn-default'
        =link_to "Delete", evidence_path(evidence), method: :delete, class: 'btn btn-danger'


  .col-md-6.col-md-offset-1
    .decree-table
      =render 'decrees/decrees'
    -unless evidence.accept?
      .decree-from
        =render 'decrees/form'
    .accept.text-center
      =render 'accept'
.row
  .col-md-3
    =link_to "Back", evidences_path, class: "btn btn-default"
