%h3 Decrees:
%table.text-center.table
  %tr
    %th.text-center DT
    %th.text-center Amount
    %th.text-center CT
    %th
  -evidence.decrees.each do |decree|
    %tr
      -if decree.decreetype == "DT"
        %td= decree.account.number
        %td= decree.amount
        %td
        %td= link_to "X", evidence_decree_path(evidence.id, decree.id), remote: true, method: :delete
      -else
        %td
        %td= decree.amount
        %td= decree.account.number
        %td= link_to "X", evidence_decree_path(evidence.id, decree.id), remote:true, method: :delete
  %tr
    %th.text-center #{evidence.decrees.dt.sum(:amount)}
    %th.text-center SUM
    %th.text-center #{evidence.decrees.ct.sum(:amount)}
    %th
