%h3 Add acount:

= render 'form'

%h3 Accounts:

%table.table
  %tr
    %th Number
    %th Name
    %th Type
    %th Number of decrees
    %th
  -accounts.each do |account|
    %tr
      %td= account.number
      %td= account.name
      %td= account.accounttype
      %td= account.decrees.count
      %td= link_to "Show entries", account, class: "btn btn-default btn-xs"


